body {
	background-color: #181818;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
.masthead {
	position: relative;
	background: none;
	height: 100vh;
	min-height: 500px;
	display: flex;
	align-items: center;
}
.bg-img {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	/* Add Blur */
	-webkit-filter: blur(5px) brightness(50%);
	-moz-filter: blur(5px) brightness(50%);
	-o-filter: blur(5px) brightness(50%);
	-ms-filter: blur(5px) brightness(50%);
	filter: blur(5px) brightness(50%);
	/* Background */
	background-image: url('../img/background.webp');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.container {
	width: 100%;
}

a {
	text-decoration: none;
}

.avatar-box {
	display: flex;
    justify-content: center;
	width: 100%;
}
.title {
	display: inline-block;
}

.title i {
	background-image: url(https://twemoji.maxcdn.com/2/svg/1f1f3-1f1f4.svg);
    vertical-align: -0.3em;
    height: 1.25em;
    width: 1.25em;
    background-size: 1.25em 1.25em;
}

.buttons {
	text-align: center;
	margin: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.buttons a {
	margin: 0.5em;
    margin-top: 2em;
    padding: 0 30px;
}

.link-btn {
	height: 38px;
    line-height: 38px;
    padding: 0 30px;
	margin: 0;
	display: flex;
	justify-content: center;
}

.avatar {
	height: 8.5em;
	margin-bottom: 0px;
	border-radius: 100%;
	display: inline-block;
}

.ptext {
	margin: 0;
	letter-spacing: 1px;
	font-size: 3rem;
	margin-left: 0.5em;
}

@media screen and (max-width: 750px) 
{

.buttons
{
   flex-flow: row wrap;
}

.link-btn {
	height: 38px;
    line-height: 38px;
    padding: 0 30px;
	margin: 0;
    width: calc(30% - 30px);
	display: flex;
	justify-content: center;
}

.title {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar {
	height: 8.5em;
	margin-bottom: 20px;
	border-radius: 100%;
}

.ptext {
	margin: 0;
	letter-spacing: 1px;
}

}

.github {
	background-color: #292d32;
	color: #fff;
	filter: drop-shadow(5px 5px 0 rgb(41, 45, 50, 0.6));
}
.linkedin {
	background-color: rgb(10, 102, 194);
	color: #fff;
	filter: drop-shadow(5px 5px 0 rgb(10, 102, 194,  0.6));
}
.twitter {
	background-color: #1da1f2;
	color: #fff;
	filter: drop-shadow(5px 5px 0 rgb(29, 161, 242, 0.6));
}
.email {
	background-color: #2ecc71;
	color: #fff;
	filter: drop-shadow(5px 5px 0 rgb(46, 204, 113, 0.6));
}

.cv {
	background-color: #e74c3c;
	color: #fff;
	filter: drop-shadow(5px 5px 0 rgb(231, 76, 60, 0.6));
}

.my-info-about {
	margin-bottom: 4em;
}

.my-info-about p {
	padding-left: 15%;
    padding-right: 15%
}

.my-info-header {
	font-size: 3em;
	color: #2ecc71;
	padding-left: 15%;
    padding-right: 15%
}

.portfolio-header {
	margin-bottom: 2em;
}

.portfolio {
	padding-left: 15%;
}

.blob {
	height: 1em;
	display: inline-block;
	width: 1em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1em 1em;
}

.blob-owo {
	background-image: url('../img/blobowo.webp');
}

.blob-pop {
	background-image: url('../img/blob-pop.webp');
}
footer {
	background-color: #282828;
	font-size: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 15px;
}

.arrow {
  text-align: center;
  margin-top: 8%;
  grid-column: span 2;
}
.arrow a {
	color: white;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}