body {
    background-color: #181818;
    font-family: 'Montserrat',sans-serif;
    color: #fff;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  img {
      height: 9em
  }

.test {
    filter: drop-shadow(6px 6px 0 rgba(0,0,0,0.4));
    letter-spacing: 1px;
}

.personal 
{
    flex-direction: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptext {
    margin: 1.5em;
}